<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head')%>
    </head>
    <body>
        <div class="jumbotron">
            <%- include('./partials/addNewBug')%>
        </div>
    </body>
    <footer>
        <%- include('./partials/footer')%>
    </footer>
</html>