
<!DOCTYPE html>
<html>
  <head>
    <%- include ('./partials/head') %>
  </head>
  <body>
    <div class="jumbotron">
      <h1>Hurray!!!! you have access!!</h1>
    </div>
  </body>
  <%- include ('./partials/footer') %>
</html>
