
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 style=color:blue class="text-primary">Order Management And Status App</h1>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="row">
      <ul class="nav nav-pills">
        <li routerLinkActive="active"><a routerLink="/rdf">Order Form</a></li>||
        <li routerLinkActive="active"><a routerLink="/courses">Admin Page</a></li>
      </ul>
    </div>
  </div>
  <br>
  <router-outlet></router-outlet>
</div>
