<h2>Body:</h2>

<html>
    <ul>
        <% employeeList.forEach(function(employee) {   %>
            <li> <%=employee.name%> - <%=employee.id%> - <%=employee.createdAt%> </li>
        <% });  %>
    </ul>
</html>