

<html>
    <head>
        <%- include('./partials/header')%>
    </head>
    <body>
        <!-- <h1>Hi there. Learning EJS</h1> -->
        <%- include('./partials/body')%>
    </body>
    <footer>
        <%- include('./partials/footer')%>
    </footer>
</html>